/*font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {

    clear: both;
    content: "";
    display: block;
}

header {
    position: relative;
    height: 100vh;
    background-color: #29a6dc;
    overflow: hidden;
    max-width: 1920px;
    margin: auto;
}

header>* {

    position: absolute;

}

img {
    bottom: 0;
    right: 0;
    height: 50%;
}

.welcome {
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    z-index: 1;
}

header p {
    font-size: 40px;

}

header h1 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: -8px;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

header button {
    line-height: 32px;
    padding: 0 20px;
    margin-top: 25px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    font-size: 12px;
    border: 1px solid white;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
}

@media (orientation:portrait) and (min-width:360px) {

    header h1 {
        font-size: 24px;

    }

    header h2 {
        font-size: 24px;

    }

    header button {
        line-height: 40px;
        font-size: 16px;

    }

    header img {
        left: 12%;
    }

}

@media (orientation:portrait) and (min-width:370px) {

    header h1 {
        font-size: 26px;

    }

    header h2 {
        font-size: 26px;

    }

    header button {
        line-height: 40px;
        font-size: 16px;

    }

    .portrait {
        left: 15%;
    }

}


@media (orientation:portrait) and (min-width:390px) {

    header h1 {
        font-size: 28px;

    }

    header h2 {
        font-size: 28px;

    }

    header button {
        line-height: 50px;
        font-size: 20px;
    }

    .portrait {
        left: 10%;
    }

}

@media (orientation:portrait) and (min-width:410px) {

    header h1 {
        font-size: 32px;

    }

    header h2 {
        font-size: 32px;

    }

    header button {
        line-height: 60px;
        font-size: 24px;
    }

    header img {

        left: 13%;
    }
}

@media (orientation:portrait) and (min-width:520px) {
    .portrait {
        left: 22%;
        bottom: -3%;
    }
}

@media (orientation:portrait) and (min-width:768px) {
    header h1 {
        font-size: 44px;

    }

    header h2 {
        font-size: 44px;

    }

    header button {
        margin-top: 70px;
        line-height: 70px;
        font-size: 28px;
    }

    .portrait {
        left: 22%;
        bottom: -3%;
    }

    .hello {
        font-size: 60px;
    }




}






@media(orientation: landscape) and (min-width:530px) {

    header img.portrait {
        left: 60%;
        height: 75%;

    }

    .welcome {
        text-align: left;

    }


}



@media(orientation: landscape) and (min-width:640px) {

    header h1 {
        font-size: 24px;
    }

    header h2 {

        font-size: 24px;
    }

    header button {
        font-size: 16px;
        line-height: 40px;
    }

    header img.portrait {
        right: 0;
    }

}

@media(orientation: landscape) and (min-width:740px) {

    header h1 {
        font-size: 34px;
    }

    header h2 {

        font-size: 34px;
    }

    header button {
        font-size: 20px;
        line-height: 50px;
    }

    header img.portrait {
        height: 95%;
    }


}


@media(orientation: landscape) and (min-width:1024px) {
    header p {

        font-size: 70px
    }


    header h1 {
        font-size: 40px;
    }

    header h2 {

        font-size: 40px;
    }

    header button {
        margin-top: 80px;
        font-size: 30px;
        line-height: 80px;
    }

    header img.portrait {

        right: -22%;
        height: 95%;
    }

    .welcome {

        left: 6%;
        top: 20%;
        text-align: left;
    }

    .portrait {
        height: 95%;
        right: -30%;
    }


}

@media(orientation: landscape) and (min-width:1200px) {
    header p {

        font-size: 80px
    }


    header h1 {
        font-size: 50px;
    }

    header h2 {

        font-size: 50px;
    }

    header button {
        margin-top: 80px;
        font-size: 30px;
        line-height: 80px;
    }

    header img.portrait {

        right: -10%;
        height: 95%;
    }

    .welcome {

        left: 2%;
        top: 20%;
        text-align: left;
    }


}

@media(orientation: landscape) and (min-width:1330px) {

    header img.portrait {

        right: -10%;
        height: 95%;
    }


}

@media(orientation: landscape) and (min-width:1600px) {
    header p {

        font-size: 120px
    }


    header h1 {
        font-size: 60px;
    }

    header h2 {

        font-size: 60px;
    }

    header button {
        margin-top: 70px;
        font-size: 36px;
        line-height: 90px;
    }

    header img.portrait {

        right: -2%;
        height: 95%;
    }

    .welcome {

        left: 6%;
        top: 20%;
        text-align: left;
    }




}


@media (min-width:1024px) {

    header button:hover {
        cursor: pointer;
        background-color: white;
        color: #111;
        transition: 0.5s;


    }


}

section {

    min-height: 30vh;

}

.features {

    margin: 1% auto 0;
    padding: 5%;
    text-align: center;
    max-width: 1600px;



}

.features h1 {

    font-family: 'Saira Condensed', sans-serif;
    color: #000;
    font-size: 26px;
    text-transform: uppercase;
    margin-top: -3%;

}

.feature h2 {
    font-family: 'Saira Condensed', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;

}

.features img {

    width: 100%;
    max-width: 375px;

}

@media (min-width:360px) {
    .features p {

        font-size: 14px;
    }

    .features h1 {

        font-size: 28px;
    }

    .feature h2 {
        font-size: 24px;
    }

}


@media (min-width:540px) {

    .features p {

        font-size: 18px;
    }

    .features h1 {

        font-size: 36px;
    }

    .feature h2 {
        font-size: 32px;
    }
}

@media (min-width:1024px) {
    .feature {
        float: left;
        width: 33%;
        padding: 2%;
    }

    section p.desc {

        font-size: 20px;
        text-align: justify;
    }
}

@media (min-width:1600px) {
    section h1.naglowek_features {
        font-size: 60px;
    }

    .feature h2 {
        font-size: 33px;
    }
}

.portfolio {
    background-color: black;

}

.portfolio h1 {

    font-size: 25px;
    font-family: 'Saira', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    padding: 5%;


}

.portfolio img {

    width: 100%;
}

.portfolio .about {
    color: white;
    text-align: left;
    font-family: 'Saira';
    font-weight: normal;
    padding: 3% 5%;
}

.portfolio h2 {

    border-bottom: 2px white solid;
    font-size: 18px;

}

.about p {
    font-size: 12px;
    padding: 2% 0;

}

.portfolio .project:nth-of-type(odd) {

    background-color: #ff4f2c;


}

.portfolio .project:nth-of-type(even) {

    background-color: #29a6dc;

}

.portfolio .project {

    border-bottom: 25px solid black;

}

@media(orientation:landscape) {

    .image,
    .about {
        width: 50%;
        float: left;
        min-height: 100%;


    }

    .project .image img {
        display: block;
        padding: 5%;
    }

    .portfolio .project:nth-of-type(even) .image {

        float: right;
    }
}

@media(orientation:landscape) and (min-width:840px) {
    .about p {
        font-size: 16px;
    }

}




@media(orientation:landscape) and (min-width:1180px) {
    .about p {
        font-size: 22px;
    }
}

@media(orientation:landscape) and (min-width:1600px) {
    .about p {
        font-size: 26px;

    }

    .portfolio h1 {
        font-size: 40px;
        padding: 3% 0;
    }

}

@media (orientation:portrait) and (min-width:400px) {

    .about p {
        font-size: 16px;
    }
}

@media (orientation:portrait) and (min-width:700px) {

    .about p {
        font-size: 20px;
    }

}

.motto {


    text-align: center;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    background-color: #111;
    background-attachment: fixed;

    color: white;

}

.motto h1 {

    font-family: 'Saira Condensed', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.motto .text {
    font-family: 'Saira ', sans-serif;
    font-size: 18px;


}

.motto .autor {
    font-family: 'Saira ';
}

.motto .bg {
    background-color: rgba(0, 63, 114, 0.5);
    height: 100%;
    width: 100%;
    padding: 16.1% 2%;

}

.autor {
    margin-top: 10px;
    font-family: 'Saira ';
}

@media (orientation:portrait) and (min-width:700px) {


    .motto h1 {

        font-family: 'Saira Condensed', sans-serif;
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 30px;

    }

    .motto .text {
        font-family: 'Saira ', sans-serif;
        font-size: 24px;

    }
}

@media (orientation:landscape) and (min-width:1024px) {

    .motto h1 {

        font-family: 'Saira Condensed', sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 30px;

    }

    .motto .text {
        font-family: 'Saira ', sans-serif;
        font-size: 30px;

    }

    .autor {
        font-size: 20px;
    }



}

@media (orientation:landscape) and (min-width:1600px) {

    .motto h1 {

        font-family: 'Saira Condensed', sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        margin-bottom: 30px;

    }

    .motto .text {
        font-family: 'Saira ', sans-serif;
        font-size: 36px;

    }

    .autor {
        font-size: 20px;
    }
}

.hobby h1 {
    font-family: 'Saira Condensed', sans-serif;
    background-color: black;
    color: white;
    padding: 5%;
    text-align: center;
    text-transform: uppercase;
}

.hobby .item {

    height: 30vh;
}

.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby3.jpg);
    background-size: cover;
    background-position: center;
}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/gym.jpg);
    background-size: cover;

}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby1.jpg);
    background-size: cover;
    background-position: center;

}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby2.jpg);
    background-size: cover;
    background-position: center;

}

.item p {

    font-family: 'Saira', sans-serif;
    color: white;
    text-align: center;
    line-height: 30vh;
    text-shadow: 0 0 6px black;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.7);

}

@media(orientation:landscape) {

    .hobby .item {

        height: 70vh;
    }

    .item p {
        line-height: 70vh;
    }
}

@media(orientation:landscape) and (min-width:1024px) {

    .hobby .item {
        float: left;
        width: 50%;
        height: 60vh;
        transition: 1s;

    }

    .hobby .item:nth-of-type(2) {
        background-position: center;

    }

    .item p {
        line-height: 60vh;
        font-size: 36px;
    }

    .hobby h1 {
        font-size: 50px;
    }

    .hobby .item p {
        transition: 0.4s;
        opacity: 0;
    }

    .hobby .item p:hover {

        opacity: 1;

    }

}

.contact {
    background-color: #000;
}

section h1 {
    font-family: 'Saira ', sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 5%;
    margin-bottom: -2%;

}

input,
textarea {
    display: block;
    width: 80%;
    margin: 20px auto;
    font-family: 'Saira ', sans-serif;
}

input {
    font-size: 12px;
    height: 36px;

}

.button {
    font-size: 16px;
    background-color: black;
    color: white;
    border: 2px solid white;
    height: 56px;
    margin-top: 20px;

}

.social {

    margin-top: 4%;
    color: white;
    font-family: 'Saira Condensed', sans-serif;



}

.social img {
    float: left;
    padding-left: 10%;
}

.social span {

    line-height: 72px;
    padding-left: 5%;
    font-size: 14px;
    float: left;
}

@media (min-width:533px) {
    .socials {
        display: inline-block;
        margin-left: 5%;
    }

    .social {
        float: left;
        width: 50%;
    }

}

@media (min-width:667px) {
    .social span {
        font-size: 20px;
    }
}

@media (min-width:667px) {
    .button {
        font-size: 20px;
        height: 70px;
    }

    input {
        height: 50px;
    }

    section h1 {
        font-size: 30px;
    }
}

@media (min-width:800px) {
    .social span {
        font-size: 24px;
    }
}

@media (min-width:1000px) {
    .social span {
        font-size: 30px;
    }

    input::placeholder {
        font-size: 20px;
    }

    textarea::placeholder {
        font-size: 20px;
    }
}

@media (min-width:1600px) {

    textarea {

        height: 25vh;

    }

    form,
    .socials {
        float: left;
        width: 47%;
    }

    section h1 {
        font-size: 38px;
    }


}
footer{
    background-color: #29a6dc;
    color: white;
    font-family: 'Saira', sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}